---
services:
  commit-hash:
    build:
      dockerfile: ./Dockerfile
      context: .
      target: commit-hash
      cache_from:
        - ghcr.io/${REPOSITORY:-dev-hato/hato-bot}/commit-hash:${TAG_NAME}
        - ghcr.io/${REPOSITORY:-dev-hato/hato-bot}/commit-hash
      args:
        BUILDKIT_INLINE_CACHE: 1
      x-bake:
        platforms:
          - linux/amd64
    image: ghcr.io/${REPOSITORY:-dev-hato/hato-bot}/commit-hash:${TAG_NAME}
    platform: linux/amd64
