[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.11"

[dev-packages]
autopep8 = "==2.0.2"
requests-mock = "==1.11.0"
pylint = "==2.17.4"
sqlfluff = "==2.1.2"
mypy = "==1.4.1"
flake8 = "==6.0.0"
black = "==23.3.0"
isort = "==5.12.0"
pre-commit = "==3.3.3"
importlib-metadata = "==6.8.0"
toml = "==0.10.2"
types-toml = "==0.10.8.6"

[packages]
python-dotenv = "==1.0.0"
requests = "==2.31.0"
Pillow = ">=7.1.2"
opencv-python = "==4.8.0.74"
pyperclip = "==1.8.2"
click = "==8.1.3"
psycopg2-binary = "==2.9.6"
slackeventsapi = "==3.0.1"
slack-sdk = "==3.21.3"
gitpython = "==3.1.32"
pandas = "==2.0.3"
matplotlib = "==3.7.2"
openai = "==0.27.8"
"discord.py" = "==2.3.1"
"misskey.py" = "==4.1.0"
websockets = "==11.0.3"
flask = "==2.3.2"
markupsafe = "==2.1.3"
numpy = "==1.25.1"

[packages.sudden-death]
git = "https://github.com/dev-hato/sudden-death"
ref = "master"
