[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "==2.8.2"
autopep8 = "==1.5.7"
requests-mock = "*"

[packages]
python-dotenv = "==0.17.1"
requests = "==2.25.1"
Pillow = ">=7.1.2"
pyperclip = "==1.8.2"
click = "==7.1.2"
sudden-death = {git = "https://github.com/dev-hato/sudden-death", ref = "master"}
mypy = "==0.812"
psycopg2-binary = "==2.8.6"
slackeventsapi = "==2.2.1"
slackclient = "==2.9.3"
gitpython = "==3.1.14"
