[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
python-dotenv = "==0.13.0"
requests = "==2.23.0"
slackbot = "==0.5.6"
Pillow = ">=7.1.2"
mypy = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.8"
