---
name: pr-check-npm

on:
  pull_request:
  push:
    branches:
      - master
      - develop

permissions:
  contents: write
  pull-requests: write

jobs:
  pr-update-version:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v3.0.2
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Get Dependabot npm version
        id: get_dependabot_npm_version
        run: |
          DOCKER_CMD="npm --version"
          npm_version="$(docker run ghcr.io/dependabot/dependabot-core sh -c "${DOCKER_CMD}")"
          echo "npm version:" "${npm_version}"
          echo "::set-output name=npm_version::${npm_version}"
      - name: Update version
        run: |
          DEPENDABOT_NPM_VERSION="${{steps.get_dependabot_npm_version.outputs.npm_version}}"
          NPM_PATTERN_PACKAGE="s/\"npm\": \".*\"/\"npm\": \"^${DEPENDABOT_NPM_VERSION}\"/g"
          sed -i -e "${NPM_PATTERN_PACKAGE}" package.json
      - uses: actions/setup-node@v3.4.1
        with:
          cache: npm
      - run: |
          npm_version=$(jq -r '.engines.npm | ltrimstr("^")' package.json)
          npm install --prefer-offline --location=global "npm@${npm_version}"
          npm install
      - uses: dev-hato/actions-diff-pr-management@v1.0.0
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          branch-name-prefix: fix-version
          pr-title-prefix: nodeをアップデートしてあげたよ！
          repo-name: ${{ github.event.pull_request.head.repo.full_name }}

  # package.jsonに差分があれば、package.jsonからpackage-lock.jsonを作り出す
  pr-check-npm:
    runs-on: ubuntu-latest
    needs: pr-update-version

    steps:
      - uses: actions/checkout@v3.0.2
        with:
          # ここでsubmodule持ってくるとdetached headにcommitして死ぬ
          # submodule: 'recursive'
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Set up Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v3.4.1
        with:
          cache: npm
      - name: Install dependencies
        run: |
          npm_version=$(jq -r '.engines.npm | ltrimstr("^")' package.json)
          npm install --prefer-offline --location=global "npm@${npm_version}"
          npm install
      # 差分があったときは差分を出力する
      - name: Show diff
        id: diff
        run: |
          result=$(git diff)
          echo "::set-output name=result::$result"
      - run: |
          REPO_NAME="${{ github.event.pull_request.head.repo.full_name }}"
          echo "REPO_NAME=${REPO_NAME}" >> "${GITHUB_ENV}"
      - uses: dev-hato/actions-diff-pr-management@v1.0.0
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          branch-name-prefix: npm
          pr-title-prefix: package.jsonやpackage-lock.jsonが更新されたので直してあげたよ！
          repo-name: ${{ github.event.pull_request.head.repo.full_name }}

  pr-check-npm-complete:
    runs-on: ubuntu-latest
    if: always()
    needs: pr-check-npm
    steps:
      - if: needs.pr-check-npm.result == 'success'
        run: exit 0
      - if: needs.pr-check-npm.result != 'success'
        run: exit 1
