---
name: pr-check-npm
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - closed
  push:
    branches:
      - master
      - develop
permissions:
  contents: write
  pull-requests: write
jobs:
  pr-update-version:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v3.3.0
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-node@v3.6.0
        with:
          cache: npm
      - name: Get Dependabot npm version
        id: get_dependabot_npm_version
        run: bash "${GITHUB_WORKSPACE}/scripts/pr_check_npm/pr_update_version/get_dependabot_npm_version.sh"
      - uses: dev-hato/actions-diff-pr-management@v1.1.3
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          branch-name-prefix: fix-version
          pr-title-prefix: nodeをアップデートしてあげたよ！
  # package.jsonに差分があれば、package.jsonからpackage-lock.jsonを作り出す
  pr-check-npm:
    runs-on: ubuntu-latest
    needs: pr-update-version
    steps:
      - uses: actions/checkout@v3.3.0
        with:
          # ここでsubmodule持ってくるとdetached headにcommitして死ぬ
          # submodule: 'recursive'
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Set up Node.js
        uses: actions/setup-node@v3.6.0
        with:
          cache: npm
      - name: Install dependencies
        run: bash "${GITHUB_WORKSPACE}/scripts/pr_check_npm/npm_install.sh"
      - uses: dev-hato/actions-diff-pr-management@v1.1.3
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          branch-name-prefix: npm
          pr-title-prefix: package.jsonやpackage-lock.jsonが更新されたので直してあげたよ！
  pr-check-npm-complete:
    runs-on: ubuntu-latest
    if: always()
    needs: pr-check-npm
    steps:
      - if: needs.pr-check-npm.result == 'success'
        run: exit 0
      - if: needs.pr-check-npm.result != 'success'
        run: exit 1
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true
