---
name: pr-master-to-develop-hato-bot

on:
  push:
    branches:
      - master

jobs:
  # masterにコミットがpushされたら、それをdevelopに反映するPRを作成するjob
  # masterとdevelopの間でコミットログに差異が出ないようにする
  pr-master-to-develop:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3.1.0
        with:
          fetch-depth: 0
      - name: Set org name
        uses: actions/github-script@v6.3.3
        id: set_org_name
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          result-encoding: string
          script:
            return process.env.GITHUB_REPOSITORY.split('/')[0]
      - name: Get PullRequests
        uses: actions/github-script@v6.3.3
        id: get_pull_requests
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const pulls_list_params = {
              owner: context.repo.owner,
              repo: context.repo.repo,
              head: "${{steps.set_org_name.outputs.result}}:master",
              base: "develop",
              state: "open"
            }
            console.log("call pulls.list:", pulls_list_params)
            const pulls = await github.paginate(github.rest.pulls.list,
                                                pulls_list_params)
            return pulls.length
      - name: Create PullRequest
        uses: actions/github-script@v6.3.3
        if: ${{ steps.get_pull_requests.outputs.result == 0 }}
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const common_params = {
              owner: context.repo.owner,
              repo: context.repo.repo
            }
            const pulls_create_params = {
              head: "${{steps.set_org_name.outputs.result}}:master",
              base: "develop",
              title: "master -> develop",
              body: "鳩の歴史は同期される\ndevelopに新たなコミットがpushされる前にマージしてね！",
              ...common_params
            }
            console.log("call pulls.create:", pulls_create_params)
            const create_pull_res = await github.rest.pulls.create(
                                      pulls_create_params
                                    )
            const number = create_pull_res.data.number
            const release_users = ["nakkaa"]
            const pulls_request_reviews_params = {
              pull_number: number,
              reviewers: release_users,
              ...common_params
            }
            console.log("call pulls.requestReviewers:")
            console.log(pulls_request_reviews_params)
            await github.rest.pulls.requestReviewers(
              pulls_request_reviews_params
            )
            const issues_add_assignees_params = {
              issue_number: number,
              assignees: release_users,
              ...common_params
            }
            console.log("call issues.addAssignees:")
            console.log(issues_add_assignees_params)
            await github.rest.issues.addAssignees(issues_add_assignees_params)
