---
name: pr-test-hato-bot
# pull_requestで何かあった時に起動する
on:
  pull_request:
  push:
    branches:
      - master
      - develop
jobs:
  # unittestを行う
  # testが落ちたらチェックが落ちる
  pr-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          submodules: "recursive"
      - name: Set up Python
        uses: actions/setup-python@v5.0.0
        with:
          python-version-file: .python-version
          cache: pipenv
      - name: Test
        run: bash "${GITHUB_WORKSPACE}/scripts/pr_test_hato_bot/pr_test/test.sh"
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true
