---
name: pr-test
on:
  pull_request:
  push:
    branches:
      - master
      - develop
jobs:
  pr-super-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
        with:
          submodules: "recursive"
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v4.7.1
        with:
          python-version-file: .python-version
          cache: pipenv
      - name: Install pipenv
        env:
          DEST_PATH: "/home/runner/work/_temp/_github_workflow/.venv"
        run: bash "${GITHUB_WORKSPACE}/scripts/pr_test/pr_super_lint/install_pipenv.sh"
      - name: Set up Node.js
        uses: actions/setup-node@v3.8.1
        with:
          cache: npm
      - name: Install dependencies
        run: bash "${GITHUB_WORKSPACE}/scripts/pr_test/pr_super_lint/npm_ci.sh"
      - name: Lint files
        uses: super-linter/super-linter/slim@v5.4.0
        env:
          VALIDATE_ALL_CODEBASE: true
          VALIDATE_SQLFLUFF: false
          LINTER_RULES_PATH: .
          FILTER_REGEX_EXCLUDE: ".*assets/.*.txt"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WORKON_HOME: ""
          PYTHONPATH: ${{ env.PYTHONPATH }}
  pr-dotenv-linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4
        with:
          submodules: "recursive"
          fetch-depth: 0
      - name: Lint dotenv
        uses: dotenv-linter/action-dotenv-linter@v2.18.0
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true
