---
name: pr-test

on:
  pull_request:
  push:
    branches:
      - master
      - develop

jobs:
  pr-super-lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: "recursive"
          fetch-depth: 0
      - run: echo "PYTHON_VERSION=$(cat .python-version)" >> "${GITHUB_ENV}"
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: pipenv
      - name: Install pipenv
        run: |
          file_name=Dockerfile
          package_name=pipenv

          if [ -f ${file_name} ]
          then
            package_name_v=$(grep -oE "${package_name}[^ ]+" ${file_name})
          else
            package_name_v=${package_name}
          fi

          pip install ${package_name_v}
      - name: pipenv version
        run: pipenv --version
      - name: Install dependencies
        run: |
          pipenv install --dev

        # 環境ファイルを使ってenvにsetしている
        # 参考URL: https://bit.ly/2KJhjqk
      - name: Set venv_path
        run: |
          venv_path=$(pipenv --venv)
          echo "${venv_path}"
          echo "venv_path=${venv_path}" >> "${GITHUB_ENV}"

        # https://github.com/github/super-linter/issues/157#issuecomment-648850330
        # -v "/home/runner/work/_temp/_github_workflow":"/github/workflow"
        # ここに cp -r することで、super-linterのなかに.venvを配置できる
        # また、元ディレクトリにも残っているので、キャッシュが作られる
      - name: Move the dependencies
        run: |
          DEST_PATH="/home/runner/work/_temp/_github_workflow/.venv"
          cp -r ${{ env.venv_path }} "${DEST_PATH}"
      - run: echo "NODE_VERSION=16" >> "${GITHUB_ENV}"
      - name: Set up Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v3.2.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: yarn
      - name: Install dependencies
        run: |
          yarn install -D
      - run: |
          echo "PYTHONPATH=/github/workspace/:/github/workflow/.venv/lib/python$(echo 'import sys; print(".".join(map(str, sys.version_info[0:2])))' | python)/site-packages" >> "${GITHUB_ENV}"
      - name: Lint files
        uses: github/super-linter/slim@v4.9.2
        env:
          VALIDATE_ALL_CODEBASE: true
          VALIDATE_PYTHON_BLACK: false
          VALIDATE_JSCPD: false
          LINTER_RULES_PATH: .
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WORKON_HOME: ""
          PYTHONPATH: ${{ env.PYTHONPATH }}
          PATH: /github/workspace/node_modules/.bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/node_modules/.bin:/venvs/ansible-lint/bin:/venvs/black/bin:/venvs/cfn-lint/bin:/venvs/cpplint/bin:/venvs/flake8/bin:/venvs/isort/bin:/venvs/mypy/bin:/venvs/pylint/bin:/venvs/snakefmt/bin:/venvs/snakemake/bin:/venvs/sqlfluff/bin:/venvs/yamllint/bin:/venvs/yq/bin:/var/cache/dotnet/tools:/usr/share/dotnet
      - name: Lint dotenv
        uses: dotenv-linter/action-dotenv-linter@v2.16.0
