---
name: pr-test-hato-bot

# pull_requestで何かあった時に起動する
on:
  pull_request:
  push:
    branches:
      - master
      - develop

jobs:
  # unittestを行う
  # testが落ちたらチェックが落ちる
  pr-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3.1.0
        with:
          submodules: "recursive"
      - run: echo "PYTHON_VERSION=$(cat .python-version)" >> "${GITHUB_ENV}"
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: pipenv
      - name: Install pipenv
        run: |
          file_name=Dockerfile
          package_name=pipenv

          if [ -f ${file_name} ]
          then
            PATTERN="${package_name}[^ ]+"
            package_name_with_version=$(grep -oE "${PATTERN}" ${file_name})
          else
            package_name_with_version=${package_name}
          fi

          pip install ${package_name_with_version}
      - name: pipenv version
        run: pipenv --version
      - name: Install dependencies
        run: |
          pipenv install --dev
      - name: Set .env
        run: |
          cp .env.example .env
      - name: Test
        run: |
          pipenv run python -m unittest
